.registrar_alimento {
    height: 85.4%;
    background-image: url("../../../public/images/background-image.jpg");
    background-size: 100vw 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container-alimento {
    height: 500px !important;
}