.home {
    height: 85.4%;
    background-image: url("../../../public/images/background-image.jpg");
    background-size: 100vw 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.options {
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: min-content;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 5px;
}

.options:hover {
    cursor: pointer;
}

.description {
    width: 100%;
}

.options_title {
    color: white;
    width: 100%;
    text-align: center;
    margin: 5px;
}

.description_text {
    color: white;
    text-align: center;
    width: 100%;
}

.description_text_container {
    width: 100%;
}

.warning {
    color: red;
    font-weight: bolder;
}