header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 14.6%;
    justify-content: space-around;
    background-color: black;
    font-size: 30px;
}

.headerLinks {
    display: flex;
}

header a {
    text-decoration: none;
    color: white;
    box-sizing: initial;
    padding: 15px;
    align-self: center;
}

.logo_name {
    align-self: center;
    color: #D11;
    font-family: 'Times New Roman', Times, serif;
}

.profile_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

.profile_pic {
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile_username {
    color: white;
    text-align: center;    
}

.profile_container:hover, .logout:hover {
    cursor: pointer;
}

.logout {
    color: white;
    font-size: 15px;
    text-align: center;
}